# Tooling
**/.aws-sam/
**/.gradle/

# IDEs and build
**/bin/
**/target/
**/.classpath
**/.project
**/.settings/
**/.factorypath
*.iml
**/lib/
**/.idea/
/.apt_generated/
/.apt_generated_tests/

# App logic
bdb.data/**
*.local
src/main/java/com/cmymesh/event/plugins/